<!DOCTYPE html>
<html lang="en">

<!-- Template from http://startbootstrap.com/templates/grayscale/ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- EDIT ME -->
    <title>My Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <!-- EDIT ME -->
                    <i class="fa fa-play-circle"></i>  <span class="light">My</span> Portfolio
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <!-- EDIT ME -->
                        <a href="#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#my_work">My Work</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- EDIT ME -->
                        <h1 class="brand-heading">Ronak Ahir</h1>
                        <!-- EDIT ME -->
                        <p class="intro-text">This is the first website I've created, and it's super cool. I am from San Jose, CA, but I've moved 8 times.</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- EDIT ME -->
                <h2>About Me</h2>
                <p>I am a sophomore intending to study Business Administration, and currently intern at an Investment Bank focused on technology companies. I am really interested in learning more about computer science. Such an interest is fueled by the desire to be able to speak a common language with the engineers that create the products and services which are paving the way for the future.</p>
                <p>I am an avid fan Parks and Recreation, as well as Brooklyn Nine-Nine. In my free time, I play basketball or enjoy a nice kickback with my friends.</p>
            </div>
        </div>
    </section>

    <section id="my_work" class="content-section text-center">
        <div class="my_work-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- EDIT ME -->
                    <h2>My Work</h2>
                    <p>I interned at a brokerage and equity firm in India the summer of my freshman year. Currently, I am working at an investment bank, focusing on the mobile solutions for enterprise sector. At school, I am a Vice President of Venture Strategy Solutions, a club that provides consulting services to start-ups and growth-phase companies. The clients I've directly worked with include Tapastic, AnyPerk, and SpoonRocket.</p>
                    <a href="http://www.linkedin.com/in/ronakahir" class="btn btn-default btn-lg">View My Work</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- EDIT ME -->
                <h2>Contact Me</h2>
                <p>Feel free to email me to provide some feedback on my work, and give me tips that can be applicable to the real world.</p>
                <p>ronak.ahir@berkeley.edu</p>
                <ul class="list-inline banner-social-buttons">
                    <!-- EDIT ME -->
                    <li><a href="https://www.facebook.com/ronak.ahir" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <!-- EDIT ME -->
                    <li><a href="https://github.com/ronak-ahir" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>

</body>

</html>
